<!-- <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type"  [dismissible]="false">
        <div class="container">
            <ng-container *ngIf="alert.icon">
                <i class="nc-icon {{alert.icon}}"></i>
            </ng-container>

            {{ alert.message }}
            <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                <i class="nc-icon nc-simple-remove"></i>
            </button>
        </div>
    </ngb-alert>
</p> -->

<div class="section section-navbars">
    <div class="container" id="menu-dropdown">
        <div class="row">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Angie Tuarez</h3>
                </div>
                <img src="../../../assets/img/abogado.png" class="card-img-top img-fluid" alt="...">

            </div>
            <div class="col-md-6" style=" align-self: center;">
                <div class="card" style="width: 100%; ">
                    <div class="card-body">
                        <h5 class="card-title">INFORMACIÓN</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Abogada Penal</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text">Teléfono:</p>
                                <p class="card-text">Correo:</p>
                                <p class="card-text">Dirección:</p>
                                <p class="card-text">Disponible:</p>
                                <p class="card-text">Hora:</p>


                            </div>
                            <div class="col-md-6">
                                <p class="card-text">099999999</p>
                                <p class="card-text">angie@gmail.com</p>
                                <p class="card-text">urdesa central</p>
                                <p class="card-text">Lunes a Viernes</p>
                                <p class="card-text">09h00 a 15h00</p>
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-default btn-round mr-5 ">Ver
                            calificaciones</button>

                        <button type="button" class="btn btn-outline-default btn-round ">Agendar
                            Cita</button>

                    </div>
                </div>
            </div>
        </div>
    </div>