<div class="wrapper">
    <!-- VISTA INCIAL -->
    <div class="page-header section-dark" style="background-image: url('assets/img/fondo.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">ABONET</h1>
                </div>

                <h2 class="presentation-subtitle text-center">“Dándote siempre la mejor opción”</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>

    <div class="main">
        <!-- ABOGADOS -->
        <div class="container">
            <div class="tim-title">
                <h2>ABOGADOS</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mr-3">Cuidad:</label>
                        <select (change)="getAbogados()" [(ngModel)]="ciudad">
                            <option value="">Todas</option>
                            <option [ngValue]="ciudad" *ngFor="let ciudad of ciudades">
                                {{ciudad}}</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="mr-3">Especialidad:</label>
                        <select (change)="getAbogados()" [(ngModel)]="especialidad">
                            <option value="">Todas</option>
                            <option [ngValue]="especialidad" *ngFor="let especialidad of especialidades">
                                {{especialidad}}</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let abogado of abogados">
                    <div class="card" style="width: 18rem;">
                        <img src="../../../assets/img/abogado.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{abogado.nombre}} {{abogado.apellido}}</h5>
                            <p class="card-text">
                                Abg. {{abogado.especialidades[0].especialidad}}
                            </p>
                            <button (click)="abrirAbogado(abogadoModal,abogado)" type="button"
                                class="btn btn-outline-default btn-round">Ver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- TABLA DE CITAS -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tim-title">
                            <h3>Mis Citas</h3>
                            <br />
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Abogado
                                    </th>
                                    <th scope="col">
                                        Hora
                                    </th>
                                    <th scope="col">
                                        Fecha
                                    </th>
                                    <th scope="col">
                                        Calificación
                                    </th>
                                    <th scope="col">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let cita of citas">
                                <tr>
                                    <td>
                                        {{cita.abogado.nombre}} {{cita.abogado.apellido}}
                                    </td>
                                    <td>
                                        {{ cita.hora}}
                                    </td>
                                    <td>
                                        {{cita.fecha}}
                                    </td>
                                    <td>
                                        <a (click)="calificar(content1,cita.abogado.id)"
                                            class="btn-sm btn-outline-default btn-round">Calificar</a>
                                    </td>
                                    <td>
                                        <a (click)="deleteCita(cita.id)"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="16" height="16" fill="red" class="bi bi-trash-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg></a>
                                        <a>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                                class="bi bi-info-circle-fill ml-2" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

</div>

<!-- CALIFICACION DE CITAS -->

<ng-template #content1 let-modal>
    <form (ngSubmit)="crearCalificacion()" #form="ngForm">
        <div class="modal-header">
            <h5 class="modal-title text-center">Calificar Abogado</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="mr-3">Seleccione calificación:</label>
                        <select name="calificacion" [(ngModel)]="calificacion.calificacion">
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                        </select>
                    </div>
                    <label class="mr-3">Ingrese un comentario:</label>
                    <div class="form-group">
                        <textarea [(ngModel)]="calificacion.comentario" name="comentario" id="" cols="30"
                            rows="5"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="right-side">
                <button type="button" class="btn btn-danger btn-link"
                    (click)="modal.close('Close click')">Salir</button>
            </div>
            <div class="divider"></div>
            <div class="left-side">
                <button type="submit" class="btn btn-default btn-link">Calificar</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- AGENDAR CITA -->

<ng-template #content let-modal>
    <form (ngSubmit)="agendarCita()" #form="ngForm">
        <div class="modal-header">
            <h5 class="modal-title text-center">Programar Cita</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12"><span style="font-weight: bold;">Disponibilidad es de Lunes a
                        Viernes</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="mr-3">Seleccione Fecha:</label>
                        <input [(ngModel)]="cita.fecha" type="date" name="fecha">
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="mr-3">Seleccione un Horario:</label>
                        <select [(ngModel)]="cita.hora" name="hora">
                            <option>9h00 a 10h00</option>
                            <option>10h00 a 11h00</option>
                            <option>11h00 a 12h00</option>
                            <option>12h00 a 13h00</option>
                            <option>14h00 a 15h00</option>
                            <option>15h00 a 16h00</option>
                            <option>16h00 a 17h00</option>

                        </select>
                    </div>

                </div>


            </div>
        </div>
        <div class="modal-footer">
            <div class="right-side">
                <button type="button" class="btn btn-danger btn-link"
                    (click)="modal.close('Close click')">Salir</button>
            </div>
            <div class="divider"></div>
            <div class="left-side">
                <button type="submit" class="btn btn-default btn-link">Agendar
                    Cita</button>
            </div>
        </div>
    </form>

</ng-template>

<ng-template #abogadoModal let modal>
    <form>
        <!-- MOSTRAR ABOGADO SELECCIONADO - AGENDAR ABOGADO -->
        <div class="section section-navbars pt-0">
            <div class="container" id="menu-dropdown">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tim-title">
                            <h3>Angie Tuarez</h3>
                        </div>
                        <img src="../../../assets/img/abogado.png" class="card-img-top img-fluid" alt="...">

                    </div>
                    <div class="col-md-6 mt-5" style=" align-self: center;">
                        <div class="card" style="width: 100%; ">
                            <div class="card-body">
                                <h5 class="card-title">INFORMACIÓN</h5>
                                <h6 class="card-subtitle mb-2 text-muted">jj</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text">Teléfono:</p>
                                        <p class="card-text">Correo:</p>
                                        <p class="card-text">Dirección:</p>
                                        <p class="card-text">Disponible:</p>
                                        <p class="card-text">Hora:</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text">h</p>
                                        <p class="card-text">u</p>
                                        <p class="card-text">j</p>
                                        <p class="card-text">Lunes a Viernes</p>
                                        <p class="card-text">09h00 a 15h00</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">

                                        <button type="button" class="btn btn-sm btn-outline-default btn-round mr-5 ">Ver
                                            calificaciones</button>
                                    </div>
                                    <div class="col-md-6 pt-3">

                                        <button (click)="openModal(content)" type="button"
                                            class="btn btn-outline-default btn-round btn-sm ">Agendar Cita</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>