<div class="section section-navbars">
    <div class="container" id="menu-dropdown">
        <div class="row">
            <div class="col-md-6">
                <div class="tim-title">
                    <h3>Angie Tuarez</h3>
                </div>
                <img src="../../../assets/img/abogado.png" class="card-img-top img-fluid" alt="...">

            </div>
            <div class="col-md-6" style=" align-self: center;">
                <div class="card" style="width: 100%; ">
                    <div class="card-body">
                        <h5 class="card-title">INFORMACIÓN</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Abogada Penal</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text">Teléfono:</p>
                                <p class="card-text">Correo:</p>
                                <p class="card-text">Dirección:</p>
                                <p class="card-text">Disponible:</p>
                                <p class="card-text">Hora:</p>


                            </div>
                            <div class="col-md-6">
                                <p class="card-text">099999999</p>
                                <p class="card-text">angie@gmail.com</p>
                                <p class="card-text">urdesa central</p>
                                <p class="card-text">Lunes a Viernes</p>
                                <p class="card-text">09h00 a 15h00</p>
                            </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-default btn-round mr-5 ">Ver
                            calificaciones</button>

                        <button (click)="openModal(content)" type="button"
                            class="btn btn-outline-default btn-round ">Agendar Cita</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6">
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand" href="#">Menu</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <div ngbDropdown class="d-inline-block dropdown">
                                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-6">
                <nav class="navbar navbar-expand-lg bg-danger">
                    <div class="container">
                        <a class="navbar-brand" href="#">Icons</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbar-menu-icon" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar-menu-icon">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk"><i class="nc-icon nc-email-85"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk"><i class="nc-icon nc-single-02"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li class="nav-item ">
                                    <div ngbDropdown class="dropdown" placement="bottom-left">
                                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><i
                                                class="nc-icon nc-settings-gear-65" aria-hidden="true"></i></a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                                            class="dropdown-danger dropdown-menu-right">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">Separated link</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div> -->
    </div>
    <!-- <div id="navbar">
        <div class="container">
            <div class="tim-title">
                <h3>Navigation</h3>
                <br />
            </div>
        </div>
        <div class="navigation-example">
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">Primary Color</a>
                    <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse"
                        data-target="#navbar-primary" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-primary">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-compass-05"
                                        aria-hidden="true"></i>&nbsp;Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-single-02"
                                        aria-hidden="true"></i>&nbsp;Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-settings-gear-65"
                                        aria-hidden="true"></i>&nbsp;Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-info">
                <div class="container">
                    <a class="navbar-brand" href="#">Info Color</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-info" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-info">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-success">
                <div class="container">
                    <a class="navbar-brand" href="#">Success Color</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-success" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-success">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-compass-05"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-single-02" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="nc-icon nc-settings-gear-65"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-warning">
                <div class="container">
                    <a class="navbar-brand" href="#">Warning Color</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-warning" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-warning">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-facebook-official"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container">
                    <a class="navbar-brand" href="#">Danger Color</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-danger" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-danger">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    Share</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-pinterest" aria-hidden="true"></i> Pin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <a class="navbar-brand" href="#">Transparent</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                        <span class="navbar-toggler-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-transparent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                                    Facebook</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                    Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                    Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div> -->
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-center">Programar Cita</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="mr-3">Seleccione el dia:</label>
                    <select>
                        <option>Lunes</option>
                        <option>Martes</option>
                        <option>Miercoles</option>
                        <option>Jueves</option>
                        <option>Viernes</option>
                    </select>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="mr-3">Seleccione un Horario:</label>
                    <select>
                        <option>9h00 a 10h00</option>
                        <option>10h00 a 11h00</option>
                        <option>11h00 a 12h00</option>

                    </select>
                </div>

            </div>


        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side">
            <button type="button" class="btn btn-default btn-link" (click)="modal.close('Close click')">Agendar
                Cita</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-link" (click)="modal.close('Close click')">Salir</button>
        </div>
    </div>
</ng-template>

<!-- <nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">Transparent</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->